@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


    
@*Possible error view
@using SUKenworth.Controllers;
<!--diplay error data sent from Error method-->
<head>
    <title>Error!</title>
</head>
<body>
    <h2>
        <!--print error message-->
        @ViewBag.Message;
    </h2>
</body>*@
